*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(img/fundo3.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 350px;
    background: white;
    border-radius: 20% 0;
    box-shadow: 1px 2px 20px rgb(176, 152, 216), 2px 6px 50px #000;
    padding: 50px 20px;
}

h2{
    text-align: center;
    margin: 20px;
    color: #000;
    font-size: 25px;
}

input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    color: #000;
}

.input-field{
    position: relative;
    margin-bottom: 20px;
}

label{
    position: absolute;
    top:0;
    left: 0;
    color: #000;
    transform: translateY(18px);
    transition: .25s ease-in-out;
}

input:focus + label{
    transform: translateY(-14px) scale(.8);
    color:rgb(187, 83, 235)
}

input:focus{
    box-shadow: 0 1px 0 0 rgb(187, 83, 235);
    border-bottom: rgb(187, 83, 235) 1px solid;
}

.center{
    text-align: center;
}

button{
    background: transparent;
    padding: 15px 50px;
    border-radius: 20px;
    color: #000;
    text-transform: uppercase;
    border:2px solid #000;
    margin: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

button:hover{
    background: rgb(199, 118, 236);
}

div a{
    text-decoration: none;
    color: #000;
    transition: .25s ease-in-out;
}

div a:hover{
    color:rgb(170, 130, 233);
}

input:not(:placeholder-shown){
    box-shadow: 0 1px 0 0 rgb(170, 130, 233);
    border-bottom: rgb(170, 130, 233) 1px solid;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
}

input::placeholder{
    color:transparent;
}